<button
  type="button"
  mat-stroked-button
  class="quiz-option"
  (click)="spitOption()"
  [ngClass]="getOptionClass()"
  [disabled]="selectedAnswer() !== null"
>
  <span
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <span>{{ optionNumberDisplayNameMap[optionNo()] }}. </span>
      <span>{{ option() }}</span>
    </div>
    <span>
      <mat-icon
        style="display: flex; align-items: center; justify-content: center"
        *ngIf="
          option() === correctAnswer() &&
          (isSelectedOptionCorrect() || isSelectedOptionIncorrect())
        "
        >check</mat-icon
      >
      <mat-icon
        style="display: flex; align-items: center; justify-content: center"
        *ngIf="option() === selectedAnswer() && isSelectedOptionIncorrect()"
        >clear</mat-icon
      ></span
    >
  </span>
</button>
